/*nosotros*/
.body-nosotros{
    background-image: url("image/IMG_1870.jpg");
    background-size: cover;
}

.parrafo-nosotros{
    color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 22px;
    margin-left: 30px;
    padding-top: 50px;

    
}

.experiencias{
    width: 500px;
    height: 450px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
/*fin nosotros*/