/*servicios*/
.body-servicios{
    background-image: url("image/IMG_1867.jpg");
    background-size: cover;
    
}

.parrafo-servicios{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 22px;
    margin-left: 30px;
    padding-top: 50px;
}
/*fin servicios*/